body{
    font-family: 'Poppins', sans-serif;
}
.text-color{
    color: red;
}
h1{
    font-size: 50px;
}
 .flexiblity{
     display: flex;
     margin-bottom: 200px;
 }
 .half-width{
     width: 50%;
     
     padding-left: 5%;
 }

 .half-width img {
    width: 80%;
 }

 .button{
     border: 1px solid;
     text-decoration: none;
     color:white;
     background-image: linear-gradient(orange,tomato);
     padding: 10px 40px;
     border-radius: 25px;
     font-weight: 800;
 }

.section2{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-bottom: 65px;
    padding-top: 75px;
    
 
}

#secondperson{
    width: 200px;
    height: 100px;
    padding-left: 250px;
}
#text-allign{
    padding-left: 50px;
}

.middle-portion{

    text-align: center;
    
}
.recipearea{
    box-shadow: 5px 10px 10px 10px  grey;

    width: 500%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    border-radius: 10px;
    text-align: center;
}
.recipearea img{
    width: 80%;
    margin-left: 0%;
    margin-top: 10%;
    
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding-bottom: 0%;
    padding-top: 2%;
    
}
.appslink{
    font-weight: 800;
    border: 1px solid white;
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    border-radius: 10px;
    margin: 5px;
    
}

.smc{
    box-shadow: 5px 10px 10px 10px grey;
    margin-bottom: 10px;
    display: flex;
    margin-bottom: 5%;
    text-align: center;
    padding-left: 30%;
    padding-right: 5px;
    border-radius: 10px;
}

.spacing{
    margin-left: 10px;
    margin-right: 10px;
}
